*.pyc
*.zip
PythonTools/canvas_integrations/config.txt
PythonTools/canvas_integrations/COURSE_ID.txt
PythonTools/canvas_integrations/course_507517_students.csv
PythonTools/attendance/attendance.csv
PythonTools/canvas_integrations/Quiz_Report.json
PythonTools/canvas_integrations/QuizReport_Student.csv
PythonTools/polling/credentials.json
banks/CHEM1200/png/*.*
